.button-container {
    width:90%;
    margin: auto;
}

.spacing-container{
    margin-top: 10px;
    margin-bottom: 5px;
}

.top-container,
.bottom-container {
    position: fixed;
    left: 0;
    right: 0;
    height: 50%;
}

.top-container {
    top: 0;    
}

.bottom-container {
    bottom: 0;    
}